.benefits {
  padding: 120px 103px;
  padding-top: 111px;
  color: $color-base-black;
  background-color: $color-benefits-bg;
  background-image: url("../img/decorative/benefits-bg-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include retina {
    background-image: url("../img/decorative/benefits-bg-desktop@2x.jpg");
  }

  @include vp-1365 {
    padding: 100px 45px;
    padding-top: 90px;
    background-image: url("../img/decorative/benefits-bg-tablet.jpg");

    @include retina {
      background-image: url("../img/decorative/benefits-bg-tablet@2x.jpg");
    }
  }

  @include vp-767 {
    padding: 65px 15px;
    padding-top: 57px;
    background-image: url("../img/decorative/benefits-bg-mobile.jpg");

    @include retina {
      background-image: url("../img/decorative/benefits-bg-mobile@2x.jpg");
    }
  }
}

.benefits h2 {
  margin: 0;
  margin-bottom: 48px;
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;

  @include vp-1365 {
    margin-bottom: 49px;
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-767 {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 36px;
  }
}

.benefits ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 40px;
  list-style: none;

  @include vp-1365 {
    grid-template-columns: repeat(3, 206px);
    justify-content: center;
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: repeat(auto-fill, 290px);
  }
}

.benefits li {
  position: relative;
  padding: 24px 30px;
  padding-top: 80px;
  background-color: $color-base-white;

  @include vp-1365 {
    padding: 20px;
    padding-top: 70px;
  }
}

.benefits .benefits__item--liner {
  @include vp-1365 {
    padding-right: 16px;
  }
}

.benefits .benefits__item--all-inclusive {
  @include vp-1365 {
    padding-right: 24px;
  }
}

.benefits .benefits__item--zodiac {
  @include vp-1365 {
    padding-right: 19px;
  }
}

.benefits li::before {
  position: absolute;
  content: "";
  width: 42px;
  height: 32px;
  top: 30px;
  left: 30px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: contain;

  @include vp-1365 {
    width: 38px;
    height: 26px;
    top: 25px;
    left: 20px;
  }
}

.benefits__item--liner::before {
  background-image: url("../img/svg/liner.svg");
}

.benefits__item--all-inclusive::before {
  background-image: url("../img/svg/all-inclusive.svg");
}

.benefits__item--zodiac::before {
  background-image: url("../img/svg/zodiac.svg");
}

.benefits h3 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  @include vp-1365 {
    margin-bottom: 6px;
  }
}

.benefits p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}
