.page {
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: $fz-default;
  line-height: $lh-default;
  font-family: $ff-montserrat;
  color: $color-base-black;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: $color-base-white;

  @include vp-767 {
    min-width: $vp-320;
  }

  &--disable-scroll {
    overflow: hidden;
    height: 100vh;
  }
}

.page__header {
  min-height: 650px;


  @include vp-1023 {
    min-height: 638px;
  }

  @include vp-767 {
    position: relative;
    min-height: 500px;
  }
}

.page__main {
  flex-grow: 1;
}
