.promo {
  padding: 120px 103px;
  display: flex;

  @include vp-1365 {
    padding: 93px 45px;
    padding-top: 91px;
    justify-content: center;
  }

  @include vp-767 {
    padding: 65px 15px;
    padding-top: 57px;
    flex-direction: column;
  }
}

.promo__description {
  margin-right: 85px;
  padding-top: 56px;
  width: 515px;

  @include vp-1365 {
    margin-right: 29px;
    padding-top: 0;
    min-width: 325px;
  }

  @include vp-767 {
    margin: 0;
    margin-bottom: 32px;
    min-width: 100%;
    width: 100%;
  }
}

.promo h2 {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;

  @include vp-1365 {
    margin-bottom: 16px;
    font-size: 26px;
    line-height: 36px;
  }

  @include vp-767 {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 34px;
  }
}

.promo__nowrap {
  @include vp-1365 {
    white-space: nowrap;
  }
}

.promo p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

.promo__image {
  margin: 0;
  width: 560px;
  height: 301px;
  overflow: hidden;

  @include vp-1365 {
    padding-top: 9px;
    min-width: 324px;
    height: 273px;
  }

  @include vp-767 {
    padding-top: 0;
    min-width: 290px;
    width: 100%;
    min-height: 186px;
    height: 100%;
    align-self: center;
  }
}

.promo img {
  margin: 0 auto;
  height: 100%;
  display: block;
  object-fit: cover;

  @include vp-767 {
    min-height: 186px;
  }
}
