.site-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.site-list li {
  margin-right: 33px;

  &:last-child {
    margin-right: 0;
  }

  @include vp-1023 {
    margin-right: 24px;
  }
}

.site-list a {
  margin-top: 10px;
  margin-bottom: 13px;
  display: block;
  font-weight: 500;
  line-height: 20px;
  color: $color-base-white;
  text-decoration: none;
  transition: opacity $trans-default;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  @include vp-1023 {
    margin-top: 2px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 17px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
  }
}
