.social {
  margin: 0;
  padding: 0;
  display: grid;
  max-width: 115px;
  grid-template-columns: repeat(auto-fill, 20px);
  gap: 27px;
  list-style: none;

  @include vp-1365 {
    max-width: 95px;
    gap: 17px;
  }
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  color: $color-base-white;
}

.social svg {
  width: 20px;
  height: 20px;
  fill: $color-base-white;

  @include vp-1365 {
    width: 16px;
    height: 16px;
  }
}
